/Baixados
.env
.venv
# Pasta auxiliar
/auxiliar/*
# Permanecer a pasta
!/auxiliar/Empresa
!/auxiliar/Estabelecimento
!/auxiliar/Municipio
# Não comitar o que tem dentro da pasta
/auxiliar/Empresa/*
/auxiliar/Estabelecimento/*
/auxiliar/Municipio/*

/data/*
*.pyc
__pycache__
.streamlit/secrets.toml